.greeter{
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--sec-color);
    text-transform: capitalize;
    word-spacing: .4rem;
    letter-spacing: .15rem;
}